body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "Arial", cursive, sans-serif;
  color: #15001d;
}

/* setting for background of the app */
body {
  background-color: #883c9b;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* setting for the quiz box */
.simplequiz {
  background-color: #ffffff;
  width: 550px;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  border: 3px solid #525252;
  display: flex;
  justify-content: space-evenly;
}

.score-section {
  white-space: pre-wrap;
  display: flex;
  font-size: 24px;
  align-items: center;
}

.question-section {
  width: 100%;
  position: relative;
}

.question-count {
  margin-bottom: 20px;
}

.question-count span {
  font-size: 28px;
}

.question-text {
  margin-bottom: 12px;
}

.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content : center;
}

/* Setting for answers' button */
button {
  width: 103%;
  font-size: 16px;
  color: #000000;
  background-color: #baa8bd;
  border-radius: 15px;
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  border: 3px solid #a5a5a5;
  cursor: pointer;
  margin-bottom: 5px;
  box-shadow: 5px 5px 3px #00000042;
}

.NavigationBar {
  position: fixed;
  left: 0;
  top: 0;
  width: 10vw;
  max-width: 200px;
  min-width: 100px;
  height: 100%;
  background-color: #ffffff;
  border-radius: 0px;
  padding: 10px;
  border: 3px solid #525252;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.GameMenu {
  background-color: #ffffff;
  width: 60vw;
  min-height: 60vh;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  border: 3px solid #525252;
  align-items: left;
  font-size: 30px;
  box-shadow: 10px 10px 3px #00000042;
}

.GameMenuButton{
  height: 3vh;
  width: 20vw;
  font-size: 25px;
  vertical-align: middle;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  color: #000000;
  background-color: #baa8bd;
  border-radius: 15px;
  padding: 50px;
  border: 3px solid #888888;
  margin-bottom: 5px;
  box-shadow: 5px 5px 3px #00000042;
  transition: 0.1s;

  &:hover,
  &:focus { 
    border-color: #fa02fe;
    font-size:30px;
    box-shadow: 7px 7px 7px #000000a0;
  }
}

.GameMenuList {
  justify-content: center;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}