body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

 /* Background provided by FreeFrontend
  Author: Josetxu
  Date: Dec 31, 2021
  Title: 3D Honeycomb Tessellated Pattern. No Div. Pure CSS
  Link: https://codepen.io/josetxu/pen/BawYgjG
*/
  --u:  1.52vmin;
	--c1: #6b796c;
	--c2: #525e52;
	--c3: #475347;
	--c4: #414a41;
	--c5: #414a41;
	--gp: 50%/calc(var(--u) * 10) calc(var(--u) * 17.5);
	--bp: calc(var(--u) * -5) calc(var(--u) * -8.75);
	height: 100vh;
	--bg: 
		conic-gradient(from 120deg at 74.5% 91.75% , var(--c2) 0 120deg, #fff0 0 360deg) var(--gp), 
		conic-gradient(from 120deg at 25.5% 91.75% , var(--c1) 0 120deg, #fff0 0 360deg) var(--gp), 
		conic-gradient(from 60deg at 74.5% 75%, var(--c3) 0 120deg, #fff0 0 360deg) var(--gp), 
		conic-gradient(from 180deg at 25.5% 75%, var(--c2) 0 120deg, #fff0 0 360deg) var(--gp), 
		conic-gradient(from 120deg at 50% 67%, var(--c5) 0 120deg, #fff0 0 360deg) var(--gp), 
		conic-gradient(from 90deg at 50% 50%, var(--c1) 0 30deg, var(--c4) 0 90deg, var(--c3) 0 150deg, var(--c2) 0 180deg, #fff0 0 360deg) var(--gp);
	background: 
		var(--bg), var(--bg), var(--c1);
   background-position: 
		var(--bp), var(--bp), var(--bp), var(--bp), var(--bp), var(--bp),
		0 0, 0 0, 0 0, 0 0, 0 0, 0 0;
	
}

* {
  font-family: "Arial", cursive, sans-serif;
  color: #15001d;
}

/* setting for background of the app */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* setting for the quiz box */
.simplequiz {
  background-color: #ffffff;
  min-width: 550px;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 30px;
  padding-left: 60px;
  padding-right: 60px;
  border: 3px solid #525252;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 10px 10px 3px #1c1f1cb8;

}

.score-section {
  margin-top: 20px;
  white-space: pre-wrap;
  display: flex;
  font-size: 36px;
  align-items: center;
}

.question-section {
  width: 100%;
  min-width: 500px;
  position: relative;
}

.question-count {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size:20px;
}

.question-count span {
  font-size: 28px;
}

.question-text {
  margin-bottom: 12px;
  font-size:25px;

}

.answer-section {
  width: 97%;
  display: flex;
  flex-direction: column;
  justify-content : center;
}

/* Setting for answers' button */
button {
  width: 103%;
  font-size: 20px;
  color: #000000;
  background-color: #c1d3c2;
  border-radius: 15px;
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  border: 3px solid #56695b;
  cursor: pointer;
  margin-bottom: 5px;
  box-shadow: 5px 5px 3px #00000042;
  transition:0.05s;

  &:hover { 
    border: 3px solid #39bb18;
    box-shadow: 5px 5px 3px #000000a0;
  }
}

.correct-answer {
background-color:forestgreen;
}

.wrong-answer {
  background-color:darkred;
}

.answer-explanation {
    background-color:#525252;
    margin: 5px;
}

.NavigationBar {
  position: fixed;
  left: 0;
  top: 0;
  width: 50px;
  max-width: 200px;
  min-width: 50px;
  height: 100%;
  background-color: #ffffff;
  border-radius: 0px;
  padding: 10px;
  border: 3px solid #525252;
  display: flex;
  flex-flow: column;
  align-items: center;
  transition: 0.2s;
  font-size: 0px;

  &:hover,
  &:focus { 
    font-size: 18px;
    width: 12vw;
    max-width: 200px;
    min-width: 100px;
    height: 100%;
    box-shadow: 7px 7px 7px #000000a0;
  }
}
.NavigationIcon{
  position: absolute;
  z-index: 1;
  top: 25px;
  left: 25px;
}

.GameMenu {
  background-color: #ffffff;
  width: 60vw;
  min-height: 60vh;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  border: 3px solid #26402d;
  align-items: left;
  font-size: 30px;
  box-shadow: 15px 15px 3px #1c1f1cb8;
}

.GameMenuButton{
  height: 3vh;
  width: 20vw;
  font-size: 25px;
  vertical-align: middle;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  color: #000000;
  background-color: #c1d3c2;
  border-radius: 15px;
  padding: 50px;
  border: 3px solid #56695b;
  margin-bottom: 5px;
  box-shadow: 5px 5px 3px #00000042;
  transition: 0.1s;

  &:hover,
  &:focus { 
    height: calc(3vh - 6px);
    width: calc(20vw - 6px);
    border: 6px solid #39bb18;
    font-size:30px;
    box-shadow: 7px 7px 7px #000000a0;
  }
}

.GameMenuList {
  justify-content: center;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
}